/* line 1, sass/_common.scss */
body {
  background: #fafafa;
  color: #333333;
}

/* line 6, sass/_common.scss */
[ng-cloak] {
  display: none;
}

/* line 3, sass/_items.scss */
.item .item-label {
  font-weight: bold;
  text-transform: capitalize;
}
/* line 7, sass/_items.scss */
.item .item-label:after {
  content: ":";
}
